.profile {
    display: flex;
    flex-direction: row;
    margin-top: 6em;
}

.profile_card {
    margin-left: 10em;
    background-image: linear-gradient(purple, darkblue);
    box-shadow: 2px 5px 10px black;
}

.m-2, .m-4 {
    color: white;
}

.bio {
    height: 60%;
    box-shadow: 2px 5px 10px black;
}

.spotify {
    padding: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}