.profile {
    display: flex;
    flex-direction: row;
    margin-top: 6em;
}

.profile_card {
    margin-left: 10em;
    background-image: linear-gradient(purple, darkblue);
}

.m-2 {
    color: white;
}