.jumbotron {
    padding: 1em;
    background-image: linear-gradient(purple, darkblue);
    color: white;
}

.create_account_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
}
