.main {
    display: flex;
    flex-direction: row;
    margin-top: 4em;
    margin-left: .5em;
}

.main-card {
    background-image: linear-gradient(purple, darkblue);
}

.card-info {
    display: flex;
}

.m-2 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.drop-downs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2em;
}

.new_post {
    margin-top: 5em;
    padding: 1em;
}

footer {
    position:absolute;
    left:0;
    bottom:0;
    right:0;
}

.header {
    background-color: darkblue !important;
    color: white;
}

.border {
    box-shadow: 6px -2px 8px grey;
    margin-bottom: 2em;
}